/* CSS Global */

/* Incluye variables root y CSS de elementos */
:root {
  --color-texto: #292929;
  --color-gradienteTarjeta-inicio: #ef473a;
  --color-gradienteTarjeta-fin: #cb2d3e;
  --color-fondoTarjeta: white;

  --verdeazul: rgb(0, 2, 94);
  --verdeazul-claro: rgb(3, 8, 78);
  --verde-obscuro: rgb(123, 190, 253);

  --fuente-oficial: "IBM Plex Sans", sans-serif;
  --fuente-delgada: 300;
  --fuente-normal: 500;
  --fuente-gruesa: 700;

  --gradiente-tarjeta: linear-gradient(
    to right,
    rgb(100, 103, 255),
    rgb(34, 208, 252)
  );

  --efecto-resalto: translateY(-2px);
}

* {
  font-family: var(--fuente-oficial);
}

body {
  color: var(--color-texto);
  margin: 0;
  padding: 0;
}
